/18count.sql
/21creating many table and nested enquiry.sql
/2drop funtion.sql
/3create table.sql
/4insert into.sql
/5id and create_at.sql
/6fruitstocks.sql
/7authors.sql
/8list and specific column.sql
/9.sql
/delete and update file.sql
/sum,avg,etc.sql